[twitter]

api_key = NNNNNNNNNNNNNNNNN
api_key_secret = NNNNNNNNNNNNNNNNNNNNNNNNN
access_token = NNNNNNNNNNNNNNNNNNNNNNNNNNNNN
access_token_secret = NNNNNNNNNNNNNNNNNNNNNNNNNNNN
bearer_token = NNNNNNNNNNNNNNNNNNNNNNNNNN